<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/stylesheet.css"/>
    <link rel="stylesheet" href="css/stylesheet.css"/>


</head>
<body background="image/2560x1440-light-blue-solid-color-background.jpg">
<div th:fragment="navlinks">
<div class="container-fluid text-center">

    <nav class="navbar navbar-fixed-top first-header">
        <div class="container-fluid">

        </div><html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"/>
    </nav>

    <ul class="nav nav-tabs distance">

        <li sec:authorize="hasAuthority('USER')"  class="active"><a href="/showbooklist">Summary</a></li>
        <li sec:authorize="hasAuthority('USER')" class="active"><a href="/addcontactinfo">Contact Information</a></li>
        <li sec:authorize="hasAuthority('USER')"  class="active"><a href="/addeducation">Education</a></li>
        <li sec:authorize="hasAuthority('USER')" class="active"><a href="/addskills">Skills</a></li>
        <li sec:authorize="hasAuthority('USER')"  class="active"><a href="/addexperience">Experience</a></li>
        <li sec:authorize="hasAuthority('USER')" class="active"><a href="/addreference">References</a></li>
        <li class="active"><a href="/completeresume">Complete Resume</a></li>



    </ul>

</div>




</div>
<div class="headerr">
<H1>Robo Resume With Security </H1>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/register">Register</a>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>