<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Contact Information</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/stylesheet.css"/>
    <link rel="stylesheet" href="css/stylesheet.css"/>

</head>
<body background="image/2560x1440-light-blue-solid-color-background.jpg">
<div th:replace="index :: navlinks"></div>
<div  class="centered">
<form autocomplete="off" action="#" th:action="@{/processsreference}"
      th:object="${reference}" method="post">
    <span th:if="${#fields.hasErrors('ref_firstName')}"
          th:errors="*{ref_firstName}">First Name:</span>
    <input type="text" id="ref_firstName" placeholder="ref_firstName"
           th:field="*{ref_firstName}" /><br />


    <span th:if="${#fields.hasErrors('ref_lastName')}"
          th:errors="*{ref_lastName}">Last name:</span>
    <input type="text" id="ref_lastName" placeholder="ref_lastName"
           th:field="*{ref_lastName}" /><br />

    <span th:if="${#fields.hasErrors('ref_phoneNumber')}"
          th:errors="*{ref_phoneNumber}">Phone Number:</span>
    <input type="number" id="ref_phoeNumber" placeholder="ref_phoneNumber"
           th:field="*{ref_phoneNumber}" /><br />



    <span th:if="${#fields.hasErrors('ref_email')}"
          th:errors="*{ref_email}">Email:</span>
    <input type="ref_email" id="" placeholder="ref_email"
           th:field="*{ref_email}" /><br />


    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>